  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
      <div id="toast-container" class="fixed top-0 right-0 mt-4 mr-4 z-50">
        {% for category, message in messages %}
          <div class="toast {{ category }} flex items-center p-4 mb-4 rounded-lg shadow-lg">
            <div class="ml-3 text-sm">{{ message }}</div>
            <button class="close-btn ml-auto text-white" onclick="this.parentElement.style.display='none';">×</button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {%- endwith %}

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
