{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
  {% include "security/_messages.html" %}
  <div class="max-w-md mx-auto mt-10 bg-white dark:bg-gray-800 p-8 shadow-md rounded">
    <h1 class="text-2xl font-bold text-center mb-6">{{ _fsdomain('Resend confirmation instructions') }}</h1>
    <form action="{{ url_for_security('send_confirmation') }}" method="post" name="send_confirmation_form">
      {{ send_confirmation_form.hidden_tag() }}
      {{ render_field_with_errors(send_confirmation_form.email   , class_='w-full p-2 mb-4 border dark:border-0 rounded bg-white dark:bg-gray-700 text-gray-900 dark:text-white') }}
      {{ render_field(send_confirmation_form.submit , class_='w-full p-2 bg-blue-500 text-white rounded cursor-pointer') }}
    </form>
  </div>
{% endblock content %}
