{% extends "layout2.html" %}
{% block title %}Connect | Project Susan{% endblock title %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mt-n4 mx-n4 mb-n5">
                                <div class="bg-warning-subtle">
                                    <div class="card-body pb-4 mb-5">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="row align-items-center">
                                                    <div class="col-md-auto">
                                                        <div class="avatar-md mb-md-0 mb-4">
                                                            <div class="avatar-title bg-white rounded-circle">
                                                                <img src="assets/images/companies/img-4.png" alt="" class="avatar-sm">                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-md">
                                                        <h4 class="fw-semibold">Live trading requires the exchange to authorize API trading permissions</h4>
                                                        <div class="hstack gap-3 flex-wrap">
                                                            <div class="text-muted"><i class="ri-building-line align-bottom me-1"></i><span>Select Your Exchange and connect with API</span></div>
                                                            <div class="vr"></div>
                                                            <div class="text-muted">Rest assured, your API is fortified with state-of-the-art encryption protocols and shielded by the impenetrable layers of blockchain's asymmetric encryption. Feel empowered to utilize it confidently, knowing that your data remains safeguarded against any potential breaches. Your security is our priority, allowing you to trade with peace of mind.</div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div><!-- end card body -->
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header bg-warning align-items-center d-flex">
                    <img height="20px" width="20px" class="p4" src="{{ url_for('static', filename='assets/images/brands/binance.svg') }}" alt="binance">
                <h4 class="card-title mb-0 flex-grow-1">Binance Futures Connector</h4>
            </div>
            
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="input-group input-group-sm mb-3">
                        <span class="btn btn-group btn-danger">API</span>
                        {{ form.api_key(size=32, class="form-select form-select-sm", placeholder="Enter API key" ) }}
                        <span class="input-group-text"><i class="ri-key-line fs-15 text-success"></i></span>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="btn btn-group btn-danger">API Secrete</span>
                        {{ form.api_secret(size=32, type="password" ,class="form-select form-select-sm", placeholder="Enter API Secrete" ) }}
                        <span class="input-group-text"><i class="ri-key-line fs-15 text-success"></i></span>
                    </div>
                    <!-- TESTNET ON OFF -->
                    <div class="form-check mb-2">
                        {{ form.testnet(checked=current_user.testnet, class="form-check-input") }}
                        <label class="form-check-label">
                            {{ form.testnet.label }}
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-warning">
                            <img height="" width="" src="{{ url_for('static', filename='assets/images/brands/binance.svg') }}" alt="binance">
                            <b>Connect</b>
                        </button>

                    </div>
                </form>

                {# {% if api_status.status == "connected" %}
                    <p>Your API key is connected.</p>
                {% else %}
                    <p>Your API key is not connected.</p>
                {% endif %} #}

                <div id="api-status">
                    <p>Loading API status...</p>
                </div>

                <p>Testnet mode is currently: {% if testnet_status %}Enabled{% else %}Disabled{% endif %}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <div class="card">

            <div class="card-body">
                <!-- Warning Alert -->
                <div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show" role="alert">
                    <i class="ri-alert-line label-icon"></i><strong>API Whitelist</strong> - Restrict access to trusted IPs only (Recommended)
                    <button type="button" class="btn-close" data-bs-dismiss=" alert" aria-label="Close"></button>
                </div>
                <div>
                    <input type="text" class="form-control mb-3" id="desabledInput" value="18.197.157.39" readonly>
                </div>

                <button id="copyButton" onclick="copyToClipboard('18.197.157.39')" class="btn btn-info"><i class="ri-file-copy-2-line p-1"></i> Copy IP Addresses</button>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(text) {
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
    }
</script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("/check_api_status")
                .then(response => response.json())
                .then(data => {
                    const statusDiv = document.getElementById("api-status");
                    if (data.status === "connected") {
                        statusDiv.innerHTML = "<p>Your API key is connected.</p>";
                    } else {
                        statusDiv.innerHTML = "<p>Your API key is not connected.</p>";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById("api-status").innerHTML = "<p>Error checking API status.</p>";
                });
        });
    </script>
{% endblock content %}