{% extends "layout.html" %}
{% block content %}
<div class="flex flex-wrap justify-between items-start mt-12">
    <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-gray-100">Bulk Trade</h2>
        <form method="post" class="space-y-3 bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
            {{ form.hidden_tag() }}
            <div>
                <label for="pair" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Pair [BTCUSDT]</label>
                {{ form.pair(size=10, class="form-input w-full px-3 py-2 border rounded-md text-gray-700 dark:text-gray-300 dark:bg-gray-900 border-gray-300 dark:border-gray-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50") }}
            </div>
            <div>
                <label for="side" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Side </label>
                {{ form.side(class="form-select w-full px-3 py-2 border rounded-md text-gray-700 dark:text-gray-300 dark:bg-gray-900 border-gray-300 dark:border-gray-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50") }}
            </div>
            <div>
                <label for="price" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Price</label>
                {{ form.price(class="form-input w-full px-3 py-2 border rounded-md text-gray-700 dark:text-gray-300 dark:bg-gray-900 border-gray-300 dark:border-gray-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50") }}
            </div>
            <div>
                <label for="amount" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Amount [0.004]</label>
                {{ form.amount(class="form-input w-full px-3 py-2 border rounded-md text-gray-700 dark:text-gray-300 dark:bg-gray-900 border-gray-300 dark:border-gray-700 focus:ring focus:ring-blue-500 focus:ring-opacity-50") }}
            </div>
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">Submit</button>
        </form>
    </div>
    <div class="w-full md:w-1/2 mt-8 md:mt-0">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-6">Last 5 Trade Data</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            {% for trade in last_5_trades %}
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
                <p class="text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Pair: {{ trade.pair }}</p>
                <p class="text-sm text-gray-700 dark:text-gray-300 mb-1">Side: {{ trade.side }}</p>
                <p class="text-sm text-gray-700 dark:text-gray-300 mb-1">Price: {{ trade.price }}</p>
                <p class="text-sm text-gray-700 dark:text-gray-300 mb-1">Amount: {{ trade.amount }}</p>
                <p class="text-sm text-gray-700 dark:text-gray-300">Timestamp: {{ trade.timestamp }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
