{% extends "layout2.html" %}
{% block title %}Refuel | Project Susan{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card ">

            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Purchase Fuel</h4>
            </div>

            <div class="card-body">
            {# form-control rounded-pill #}

                <div class="form-container active">
                {# <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-text">Button</span>
                            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                <option selected="">Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                    </div>
                </div> #}
                

                    <form method="post" autocomplete="off">
                        {{ form.hidden_tag() }}
                        <div class="input-group input-group-sm mb-2">
                            <span class="input-group-text">{{ form.package.label }}</span>
                            {{ form.package(class="form-select", placeholder="Select Package") }}
                            <span class="input-group-text bg-success"><i class="las la-shopping-bag text-white fs-15"></i></span>
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text mb-2">{{ form.payment_method.label }}</span>
                            {{ form.payment_method(class="form-select  mb-2", placeholder="Select Payment Method") }}
                            <span class="input-group-text bg-info  mb-2"><i class="lab la-amazon-pay text-white fs-15"></i></span>
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text  mb-2">{{ form.pay_id.label }}</span>
                            {{ form.pay_id(class="form-control  mb-2", placeholder="Payment reference") }}
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-danger w-100") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card ">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Fuel Purchased history</h4>
            </div>

            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endblock content%}